################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/vs/zed-pcl/packages/OpenCV.2.4.10
